* {
  margin: 0;
  padding: 0;
}
html,
body,
#app,
.app-container {
  height: 100%;
}

@import "@/components/style.scss";
@import "~@feizheng/react-border-collapse/dist/style.scss";

.app-container {
  padding: 50px;
  box-sizing: border-box;
  font-family: "Lato", "Helvetica Neue", "PingFang SC", "Myriad Pro", "Hiragino Sans GB", "microsoft yahei";
  .react-panel {
    p {
      font-weight: 300;
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  .group {
    display: table;
    border-collapse: collapse;
    &-row {
      display: table-row;
    }
    .react-panel {
      width: 10%;
      display: table-cell;
    }
  }
  .button {
    background: #3cc51f;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    border: none;

    &:active {
      background: darken(#3cc51f, 10%);
    }

    &:focus {
      outline: none;
    }
  }
}
